[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/amplifi-v1-common"]
	path = lib/amplifi-v1-common
	url = https://github.com/BitSharp-Labs/amplifi-v1-common
